@font-face {
  font-family: 'Gudea';
  src: url(font/Gudea-Regular.ttf);
}
body {
  font-size: 22px;
  background-repeat: no-repeat;
}
h1 {
  font-size: 50px;
}
.ptb-6 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.img-profile {
  width: 300px;
  height: 300px;
  border-radius: 150px;
}

/* Barra de menú */

.btn {
  color: white;
  font-size: 0.6em;
  text-transform: uppercase;
  min-width: 250px;
  letter-spacing: 0.3em;
}
.btn:hover {
  color: #853400;
  background-color: #ff9800;
  border-radius: 0px;
}
.nav {
  background-color: #c06500;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* Formulario de contacto */

textarea,
input {
  font-size: 16px;
  border: 1px solid #c06500;
}
textarea {
  min-height: 60px;
}
textarea:focus,
input:focus{
  text-indent: 6px;
  border-color: #c06500;
}
.boton-contacto {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  min-width: 100px;
  background-color: #c06500;
  border: 0px;
}

/* Fondos de las secciones */

.bg-header-img {
  background-image: url(img/header_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.bg-exp-lab {
  background-image: url(img/exp-lab-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.bg-contact{
  background-image: url(img/contact-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-skew {
  color: #853400;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #ffcc50;
  position: relative;
  z-index: 1;
}
.bg-skew::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: inherit;
  transform: skew(0, -2deg);
  transform-origin: top left;
}
.bg-skew::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: inherit;
  transform: skew(0, -2deg);
  transform-origin: bottom right;
}
.bg-skew-dif {
  color: #853400;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #ffff89;
  position: relative;
  z-index: 1;
}
.bg-skew-dif::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: inherit;
  transform: skew(0, -2deg);
  transform-origin: top left;
}
.bg-skew-dif::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: inherit;
  transform: skew(0, -2deg);
  transform-origin: bottom right;
}